div.cinescript, .reveal div.cinescript {
  position: relative;
  font-size: 24px;
}
div.cinescript pre, .reveal div.cinescript pre {
  padding: 0;
  margin: 0;
  width: 100%;
}
div.cinescript:hover, .reveal div.cinescript:hover {
}
div.cinescript .overlay, .reveal div.cinescript .overlay {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: 100;
  background-color: black;
  color: grey;
}
div.cinescript:hover .overlay, .reveal div.cinescript:hover .overlay {
  display: block;
  opacity: .5;
}
.overlay span {
  position: absolute;
  bottom: 0;
  left: 0;
}
.overlay i {
  height: 100px;
  width: 100px;
  font-size: 100px;
  padding: 10px;
}
.overlay i:hover {
  color: white;
}
