.cinescript {
  position: relative;
}
.cinescript:hover {
}
.cinescript .overlay {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: 100;
  background-color: black;
  color: grey;
}
.cinescript:hover .overlay {
  display: block;
  opacity: .5;
}
.overlay span {
  position: absolute;
  bottom: 0;
  left: 0;
}
.overlay i {
  height: 100px;
  width: 100px;
  font-size: 100px;
  padding: 10px;
}
.overlay i:hover {
  color: white;
}
